@model ElectronicsStore.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a> |

    <form id="@Model.ProductId" asp-action="AddToCart"
          asp-controller="ShoppingCart" method="post">
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            <button type="submit"
                    class="btn btn-success btn-sm pull-right" style="float:right">
                Add To Cart
            </button>
        </span>
    </form>
        @*@Html.ActionLink(linkText: "AddtoCart", controllerName: "ShoppingCart", actionName: "AddtoCart", routeValues: new { productid = @Model.ProductId }))*@
</div>
